test_data
python_tests
test_npy_files
test_*.npy
test_*.mat
test_*.tiff
mat_file_reader.py
npy_file_reader.py
tiff_file_reader.py
debug_npy.py
HSIView/Assets.xcassets/AppIcon.appiconset/HSIViewer.icns

//
//  .gitignore
//  HSIView
//
//  Created by mac on 26.11.2025.
//

